<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SprocMapperTest" connectionString="Data Source=THINKPAD\SQLSERVER;Initial Catalog=SprocMapperTest;Integrated Security=True;Pooling=false;" providerName="System.Data.SqlClient" />
    <!--<add name="SprocMapperTest" connectionString="Data Source=DESKTOP-6I9FL7M;Initial Catalog=SprocMapperTest;Integrated Security=True;Pooling=false;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
