<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SprocMapperTest" connectionString="Data Source=THINKPAD\SQLSERVER;Initial Catalog=SprocMapperTest;Integrated Security=True;Pooling=false;" providerName="System.Data.SqlClient" />
    <!--<add name="SprocMapperTest" connectionString="Data Source=DESKTOP-6I9FL7M;Initial Catalog=SprocMapperTest;Integrated Security=True;Pooling=false;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
